/* Graphs
  =============== */

// graphviz styling

.post svg {
  display: block;
  margin: 3rem auto 3rem auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: $borders;
  border-bottom: $borders;
}

.small-graph {
  max-height: 10px;
}

.graph {
  width: 100%;
  border: none;
}

.graph text {
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
  font-family: $font-family;
}