.not-found {
  padding: 8vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found > .not-found__title {
  font-size: 7rem;
  line-height: 6rem;
  margin-bottom: 0;
}

.not-found > .not-found__subtitle {
  font-size: 1rem;
  font-weight: 400;
}

.blink {
  animation: blinkingText 0.8s infinite;
}

@keyframes blinkingText {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}