@import 'variables.css';

/* Fuzzy */
.fuzzy :where(p, pre, li, img, blockquote, table) {
  opacity: 0.6;
  filter: blur(2px);
  transition: var(--transition-long);
  transition-property: opacity, filter;
}

.fuzzy :where(p, pre, li, img, blockquote, table):hover {
  opacity: 1;
  filter: blur(0px);
}

/* Bionic */
.bionic :where(p, li, blockquote) {
  color: var(--medium-font-color);
}

.bionic :where(a) {
  text-decoration: underline;
  text-decoration-color: var(--medium-font-color);
}

.bionic :where(p, li, blockquote) > * {
  color: var(--text-color);
}

.bionic :where(img, code, blockquote, pre),
.bionic .sidenote-number:after {
  filter: grayscale(100%);
}
